$white: rgb(230, 230, 230);

$accentPrimary: rgb(56, 173, 41);
$blue: rgb(43, 28, 184);

.innerBtn {
    background-color: $blue;
    color: $white;
    margin-bottom: 5px;
    
}
.btn-prim {
    background-color: $blue;
    color: $white;
    margin-top: 44px;
}

.mybuttonoverlap {
    position: absolute;
    z-index: 2;
    top: 44px;
    display: none;
    text-align: center;
    left:60px;
}
.mydivouter:hover .mybuttonoverlap {
    display: block;
}
.mybuttonoverlap {
    .btn {
        width: 120px;
        line-height: 30px;
    }
    .btn:first-child {
        margin-bottom: 3px;
    }
}
